* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  font: 10px Arial, sans-serif;
  background: #f1f1f1;
  color: rgba(145, 145, 145, 0.7);
}

main{
  display: flex;
  flex-wrap: wrap;
}

div.column {
  font-size: 1rem;
  width: 33.3%;
 
}

.search-form {
  margin: 0 auto;
  position: relative;
  width: 80%;
}


input[type="text"] {
  width: 100%;
  padding: 0 80px 0 10px;
  font-weight: 700;
  border: none;
  background: transparent;
  font-size: 10em;
  color: #ec5a62;
}
input[type="text"]::-webkit-input-placeholder {
  color: #C2C2C2;
}


input[type="text"]:hover,
input[type="text"]:focus {
  outline: none;
}

input[type="button"] {
  position: absolute;
  width: 80px;
  height: 80px;
  text-indent: 100px;
  overflow: hidden;
  right: 0;
  top: 50%;
  background-image: url(../magnifier.svg);
  background-color: transparent; 
  background-repeat:no-repeat; 
  background-position: center center;
  background-size: 100%;
  border: none;
  transform: translate3d(0, -50%, 0) scale(1);
}

input[type="button"]:hover,
input[type="button"]:focus {
  transition: all .3s ease-in;
  transform: translate3d(0, -50%, 0) scale(1.5);
  cursor: pointer;
  outline: none;
}

h2 {
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 800;
  color: #c2c2c2;
}

ul {
  padding: 0;
}

ul li {
  list-style-type: none;
  width: 90%;

}

ul li a {
  padding: 0.75em;
  display: block;
  margin: 0.3em 0;
  cursor: pointer;
  border-radius: 5px;
  background: rgba(118,117,128,0.05);
  color: rgba(145,145,145,0.7);
}

ul li a:hover,
ul li a:hover {
  color: #EC5A62;
  background: rgba(118, 117, 128, 0.1);
}

ul img {
  display: inline-block;
  width: 50px;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

ul span {
  vertical-align: middle;
  font-size: 0.85em;
  display: inline-block;
  font-weight: 700;
  margin: 0 0 0 0;
  width: calc(100% - 70px);
  color: inherit;
}

img.rounded {
  border-radius: 50%;
  overflow: hidden;
}

a,
input[type="submit"],
input[type="button"],
button{
    text-decoration: none;